# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Environment variables
.env
.env.*
!.env.example

# Native / Keys
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Metro / Debug
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*

# OS files
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Example / temp folders
app-example

# Generated native folders (Expo managed)
ios/
android/
